.wrapBtns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color:rgb(47, 47, 47);
}

.wrapPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  padding: 10px;
  background-color: rgb(47, 47, 47);
  padding-top: 50px;
  z-index: -1;
}

.cardEnvelop{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.editCards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  background-color: #4D208C;
  justify-content: center;
  align-items: center;
  width: 250px;
}